name: Release lib-version

on:
  push:
    tags:
      - 'v*'   # v1.0.0, v1.0.1, etc.

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '24'
          # must match <id> in pom's <distributionManagement>
          server-id: github
          server-username: GITHUB_ACTOR
          server-password: GITHUB_TOKEN

      - name: Show tag and pom version (debug)
        run: |
          echo "Tag is: $GITHUB_REF_NAME"
          echo "POM version is: $(mvn -q -Dexpression=project.version -DforceStdout help:evaluate)"

      - name: Deploy to GitHub Packages
        run: mvn -B clean deploy